@import "./config";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $ff;
	transition: all 0.3s;
}

html, body, #root {
	width: 100%;
	height: 100%;
}

// ::-webkit-scrollbar {
//   display: none;
// }

a,
button {
	all: unset;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

@import "./components/login";
@import "./components/sidebar";
@import "./components/messages";
@import "./components/modals";
